<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Downtime_registration.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <Downtime_registration.Properties.Settings>
            <setting name="NazovZariadenia" serializeAs="String">
                <value/>
            </setting>
            <setting name="rfidsetup" serializeAs="String">
                <value/>
            </setting>
            <setting name="rfiddelete" serializeAs="String">
                <value/>
            </setting>
            <setting name="vymazavac" serializeAs="String">
                <value/>
            </setting>
            <setting name="nastavenieHV" serializeAs="String">
                <value/>
            </setting>
            <setting name="nastavenieJM" serializeAs="String">
                <value/>
            </setting>
            <setting name="nastavenieST" serializeAs="String">
                <value/>
            </setting>
            <setting name="nastavenieMAT" serializeAs="String">
                <value/>
            </setting>
            <setting name="nastaveniePROC" serializeAs="String">
                <value/>
            </setting>
            <setting name="nastavenieNEK" serializeAs="String">
                <value/>
            </setting>
            <setting name="nastavenieCENA" serializeAs="String">
                <value/>
            </setting>
            <setting name="CenaZsql" serializeAs="String">
                <value/>
            </setting>
            <setting name="IDforNOKreg" serializeAs="String">
                <value/>
            </setting>
            <setting name="Operacia" serializeAs="String">
                <value/>
            </setting>
            <setting name="AktualnaZmena" serializeAs="String">
                <value/>
            </setting>
            <setting name="NOKAktualnaStrana" serializeAs="String">
                <value/>
            </setting>
            <setting name="NOKPocetStran" serializeAs="String">
                <value/>
            </setting>
            <setting name="NOKPovolenieUpravit" serializeAs="String">
                <value/>
            </setting>
            <setting name="ZadaneChybyNaOperacii" serializeAs="String">
                <value/>
            </setting>
            <setting name="UpravitKategorieAleboZapisyNOK" serializeAs="String">
                <value/>
            </setting>
            <setting name="PociatokReakcnehoCasu" serializeAs="String">
                <value/>
            </setting>
            <setting name="ID1" serializeAs="String">
                <value/>
            </setting>
            <setting name="ID2" serializeAs="String">
                <value/>
            </setting>
            <setting name="ID3" serializeAs="String">
                <value/>
            </setting>
            <setting name="ID4" serializeAs="String">
                <value/>
            </setting>
            <setting name="ID5" serializeAs="String">
                <value/>
            </setting>
            <setting name="ID6" serializeAs="String">
                <value/>
            </setting>
            <setting name="ID7" serializeAs="String">
                <value/>
            </setting>
            <setting name="date1" serializeAs="String">
                <value/>
            </setting>
            <setting name="date2" serializeAs="String">
                <value/>
            </setting>
            <setting name="date3" serializeAs="String">
                <value/>
            </setting>
            <setting name="date4" serializeAs="String">
                <value/>
            </setting>
            <setting name="date5" serializeAs="String">
                <value/>
            </setting>
            <setting name="date6" serializeAs="String">
                <value/>
            </setting>
            <setting name="date7" serializeAs="String">
                <value/>
            </setting>
            <setting name="shift1" serializeAs="String">
                <value/>
            </setting>
            <setting name="shift2" serializeAs="String">
                <value/>
            </setting>
            <setting name="shift3" serializeAs="String">
                <value/>
            </setting>
            <setting name="shift4" serializeAs="String">
                <value/>
            </setting>
            <setting name="shift5" serializeAs="String">
                <value/>
            </setting>
            <setting name="shift6" serializeAs="String">
                <value/>
            </setting>
            <setting name="shift7" serializeAs="String">
                <value/>
            </setting>
            <setting name="Availability1" serializeAs="String">
                <value/>
            </setting>
            <setting name="Availability2" serializeAs="String">
                <value/>
            </setting>
            <setting name="Availability3" serializeAs="String">
                <value/>
            </setting>
            <setting name="Availability4" serializeAs="String">
                <value/>
            </setting>
            <setting name="Availability5" serializeAs="String">
                <value/>
            </setting>
            <setting name="Availability6" serializeAs="String">
                <value/>
            </setting>
            <setting name="Availability7" serializeAs="String">
                <value/>
            </setting>
            <setting name="AvDouble1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AvDouble2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AvDouble3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AvDouble4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AvDouble5" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AvDouble6" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AvDouble7" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Performance1" serializeAs="String">
                <value/>
            </setting>
            <setting name="Performance2" serializeAs="String">
                <value/>
            </setting>
            <setting name="Performance3" serializeAs="String">
                <value/>
            </setting>
            <setting name="Performance4" serializeAs="String">
                <value/>
            </setting>
            <setting name="Performance5" serializeAs="String">
                <value/>
            </setting>
            <setting name="Performance6" serializeAs="String">
                <value/>
            </setting>
            <setting name="Performance7" serializeAs="String">
                <value/>
            </setting>
            <setting name="PerfDouble1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PerfDouble2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PerfDouble3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PerfDouble4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PerfDouble5" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PerfDouble6" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PerfDouble7" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Quality1" serializeAs="String">
                <value/>
            </setting>
            <setting name="Quality2" serializeAs="String">
                <value/>
            </setting>
            <setting name="Quality3" serializeAs="String">
                <value/>
            </setting>
            <setting name="Quality4" serializeAs="String">
                <value/>
            </setting>
            <setting name="Quality5" serializeAs="String">
                <value/>
            </setting>
            <setting name="Quality6" serializeAs="String">
                <value/>
            </setting>
            <setting name="Quality7" serializeAs="String">
                <value/>
            </setting>
            <setting name="QualDouble1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="QualDouble2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="QualDouble3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="QualDouble4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="QualDouble5" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="QualDouble6" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="QualDouble7" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OEE1" serializeAs="String">
                <value/>
            </setting>
            <setting name="OEE2" serializeAs="String">
                <value/>
            </setting>
            <setting name="OEE3" serializeAs="String">
                <value/>
            </setting>
            <setting name="OEE4" serializeAs="String">
                <value/>
            </setting>
            <setting name="OEE5" serializeAs="String">
                <value/>
            </setting>
            <setting name="OEE6" serializeAs="String">
                <value/>
            </setting>
            <setting name="OEE7" serializeAs="String">
                <value/>
            </setting>
            <setting name="OEEdouble1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OEEdouble2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OEEdouble3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OEEdouble4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OEEdouble5" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OEEdouble6" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OEEdouble7" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="jazyk" serializeAs="String">
                <value/>
            </setting>
            <setting name="nastavenieCYKLUS" serializeAs="String">
                <value/>
            </setting>
            <setting name="Process" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="AktualnyUzivatel" serializeAs="String">
                <value/>
            </setting>
            <setting name="nastavenieOP" serializeAs="String">
                <value/>
            </setting>
            <setting name="VyberOperacie" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OP" serializeAs="String">
                <value>0</value>
            </setting>
        </Downtime_registration.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EPPlus" publicKeyToken="ea159fdaa78159a1" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.5.3.3" newVersion="4.5.3.3"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
